* {
  margin: 0;
  padding: 0;
  font: inherit
}

body {
  /* min-height: 100vh; */
  background-color: #F4F5F7;
}

p {
  font-size: .8em;
}

h3 {
  font-size: .9em;
}

svg {
  display: block;
  max-width: 100%;
}

.App {
  display: flex;
  justify-content: space-between;
  height: 700px;
  padding: 50px;
}

.plus-btn-container {
  width: 300px;
  height: 40px;
  position: relative;
  z-index: 11;
}

.plus-btn {
  width: 100px;
  height: 40px;
  background-color: #fafafa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a3a3a3;
  cursor: pointer;
  display: block;
  margin: 10px auto 0 auto;
}

.plus-btn .vertical-line {
  width: 2px;
  height: 15px;
  background-color: #474747;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-btn .horizontal-line {
  width: 15px;
  height: 2px;
  background-color: #474747;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.add-list-dropdown {
  font-size: .8em;
  position: absolute;
  background-color: #fff;
  width: 120px;
  height: 40px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 10px;
  border-radius: 4px;
  /* border: 1px solid red; */
  box-shadow: 0px 0px 5px #a3a3a3;
  cursor: pointer;
}

.add-list-dropdown ul {
  list-style-type: none;
}

.add-list-dropdown ul li:hover {
  background-color: #d3d3d3;
}

.add-list-dropdown {
  width: 200px;
}

.hr {
  margin: 20px;
  border-radius: 10px;
  height: 10px;
  background-color: #474747;
}